/* TAGS */

body {
    color: white;
    margin: 0;
    padding: 0;
    font: normal 20px arial;
}

html {
    padding: 0;
    margin: 0;
}

img {
    margin-top: 10px;
}


/* TAGS */

/* =========================================================================================================== */

/* CLASS */

.topBar {
    background-color: var(--primary);
    height: 50px;
    border-radius: 0 0 20px 20px;
}

.menuHamburger {
    position: relative;
    font-size: 25px;
    float: left;
    color: white;
    top: 50%;
    margin-top: -12.5px;
    left: 15px;
}

.logo {
    position: relative;
    float: left;
    left: 25%;
    line-height: 50px;
    color: white;
    font-size: 30px;
}

.pesquisa {
    position: relative;
    float: right;
    font-size: 25px;
    color: white;
    top: 50%;
    margin-top: -12.5px;
    right: 70px;
}

.card-img {
    width: 20%;
    height: 300px;
    padding-bottom: 10px;
}

.cards {
    width: 100%;
    display:inline-block;
    height: 150px;
    overflow: hidden;
    overflow-y: scroll;
}

.card {
    width: 80%;
    margin-bottom: 10px;
}

.cards::-webkit-scrollbar {
    display: none;
}

.nomeProduto {
    margin-top: 20px;
    width: 80%;
}

.descricaoProduto {
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
}

.precoProduto {
    margin-top: 15px;
    font-size: 20px;
    color: black;
}

.TituloProdutosProximos {
    float: left;
}

/* CLASS */

/* =========================================================================================================== */


/* IDs */

#cesta {
    position: relative;
    float: right;
    font-size: 25px;
    color: white;
    top: 50%;
    margin-top: -12.5px;
    right: px;
}

/* IDs */