/* TAG */

body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* CLASS */

.topBar {
    background-color: #6E0099;
    height: 50px;
    border-radius: 0 0 20px 20px;
}

.topBar i {
    color: white;
    padding: 0;
    margin: 0;
    position: relative;
    float: left;
    line-height: 50px;
    left: 15px;
}

.topBar p {
    padding: 0;
    margin: 0;
    position: relative;
    color: white;
    margin-left: 50%;
    left: -40px;
    line-height: 50px;
}

.formCadastro {
    text-align: center;
}

.formCadastro input {
    color: black;
    width: 80%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    text-align: left;
    padding-left: 5%;
    height: 30px;
    background-color: rgb(226, 226, 226);
    outline: none;
}

.receberEmailClass {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
}

.receberEmailClass legend {
    float: left;
    margin-left: 10%;
    margin-top: 1%;
}

.btnCadastro {
    text-align: center;
}

.btnCadastro button {
    border: none;
    width: 80%;
    height: 60px;
    border-radius: 50px;
    background-color: #6E0099;
    color: white;
    outline: none;
    font-size: large;
}

.btnCadastro button:active {
    background-color: white;
    color: #6E0099;
    border: solid 1px #6E0099;
}

.name {
    background-color: rgb(226, 226, 226);
    height: 60px;
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    border-radius: 50px;
    border: solid 1px rgba(0, 0, 0, 0.01);

}

.email {
    background-color: rgb(226, 226, 226);
    height: 60px;
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    border-radius: 50px;
    border: solid 1px rgba(0, 0, 0, 0.01);
}

.password {
    background-color: rgb(226, 226, 226);
    height: 60px;
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    border-radius: 50px;
    border: solid 1px rgba(0, 0, 0, 0.01);
}

.passwordC {
    background-color: rgb(226, 226, 226);
    height: 60px;
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    border-radius: 50px;
    border: solid 1px rgba(0, 0, 0, 0.01);
}           

.passwordC i {
    color: #6E0099;
    line-height: 60px;
}

.password i {
    color: #6E0099;
    line-height: 60px;
}

.name i {
    color: #6E0099;
    line-height: 60px;
}

.email i {
    color: #6E0099;
    line-height: 60px;
}

.load {
    background-color: white cover;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 35%;
    left: 40%;
    color: #6E0099;
}


/* CLASS para o JavaScript */

.elementoInvalido {
    border: solid 1px red;
}

.inputInvalido {
    color: red;
}

/* CLASS para o JavaScript */


/* ID */