/* TAGS */

body {
    color: white;
    margin: 0;
    padding: 0;
    font: normal 20px arial;
}

html {
    padding: 0;
    margin: 0;
}

/* TAGS */

/* =========================================================================================================== */

/* CLASS */

.topBar {
    background-color: #6E0099;
    height: 50px;
}

.topBar #hamburgerMenu {
    line-height: 50px;
    float: left;
    margin: 0;
    margin-left: 15px;
    width: 20px;
    color: white;
}

.btnColor {
    color: white;
    background-color: #6E0099;
}

.card {
    margin-bottom: 10px;
}

/* CLASS */

/* =========================================================================================================== */


/* IDs */

/* IDs */
