/* TAG */

body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

/* TAG */


/* CLASS */

.topBar {
    background-color: #6E0099;
    height: 50px;
    border-radius: 0 0 20px 20px;
}

.topBar i {
    color: white;
    padding-top: 33px;
    margin: 0;
    position: relative;
    float: left;
    line-height: 50px;
    left: 15px;
    outline: none !important;
    border: none;
}

.gg-arrow-left-r {
    position: relative;
    display: block;
    width: 22px;
    height: 22px;

}

.topBar p {
    padding: 0;
    margin: 0;
    position: relative;
    color: white;
    margin-left: 50%;
    left: -40px;
    line-height: 50px;
}

.formLogin {
    text-align: center;
    padding-top: 20%;
}

.formLogin input {
    color: black;
    width: 80%;
    border-radius: 50px;
    border: none;
    text-align: left;
    height: 50px;
    background-color: rgb(226, 226, 226);
    outline: none;
    margin-left: 10px;
}

.btnLogar {
    text-align: center;
}

.btnLogar button {
    border: none;
    width: 80%;
    height: 60px;
    border-radius: 50px;
    background-color: #6E0099;
    color: white;
    outline: none;
}

.lembrarDeMim {
    padding-left: 40px;
    padding-top: 5%;
    padding-bottom: 70px;
    font-size: 13px;
}

.lembrarDeMim legend {
    float: left;
    margin-right: 10px;
}

.naoTemConta {
    font-size: 11px;
    margin-top: 10%;
    margin-left: 10%;
    float: left;
    border: solid 1px #6E0099;
    color: #6E0099;
    border-radius: 50px;
}

.esqueciMinhaSenha {
    font-size: 11px;
    margin-top: 10%;
    margin-right: 10%;
    float: right;
    border: solid 1px #6E0099;
    color: #6E0099;
    border-radius: 50px;
} 

.fa-envelope:before {
    content: "\f0e0";
    padding-right: 5px;
}

.fa-unlock-alt:before {
    content: "\f13e";
    padding-right: 5px;
    padding-top: 24px;
}

.email, .senha {
    background-color: rgb(226, 226, 226);
    height: 60px;
    border-radius: 50px;
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    line-height: 60px;
}

/* CLASS */


/* ID */

/* ID */